.footer.section-origami {
  padding-top: 3rem;
  padding-bottom: 1.5rem;
}

footer .container > div {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--orange-origami);
}

footer ul {
  list-style: none;
  padding: 0;
}

footer .container > span {
  width: 100%;
  display: inline-block;
  text-align: center;
  padding-top: 1.5rem;
}

footer a {
  text-decoration: none;
  color: var(--blue-origami);
  transition: color 0.2s ease;
}

footer a:hover {
  color: var(--orange-origami);
  transition: color 0.2s ease;
}

.grow-1 {
  flex-grow: 1;
}
